/AW.WebApi/bin
/AW.WebApi/obj

/AW.WebApi.DIContainer/bin
/AW.WebApi.DIContainer/obj

/AW.WebApi.Tests/bin
/AW.WebApi.Tests/obj

/AW.WepApi.BL/bin
/AW.WepApi.BL/obj

/AW.WepApi.DAL/bin
/AW.WepApi.DAL/obj

/packages


